.headerText {
  font-family: 'Enriqueta', arial, serif;
  line-height: 1.25;
  margin: 0 0 10px;
  font-size: 40px;
  font-weight: bold;
}

.imageFile {
  height: 60%;
  width: 100%;
  /* border: 2px solid red; */
  border-radius: 25px;
}

.brandLogo {
  height: 20%;
  width: 100%;
}
